.heading {
  font-size: 16px;
}
@import "tailwindcss";
.row {
  --bs-gutter-x: 0rem;
}
body {
  /* margin: 0px 5px; */
}
.head {
  color: red;
  font-size: 20px;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: lightcyan;
  border: 1px solid grey;
  align-items: center;
}
.nav-items {
  display: flex;
  list-style: none;
  padding: 0px 10px;
}
.nav-items li {
  margin: 0px 20px;
  font-size: 16px;
}
.logo {
  width: 75px;
  height: 75px;
}
.res-container {
  flex-wrap: wrap;
  display: flex;
}
.card-title {
  font-size: 16px;
}
.card {
  background-color: #f0f0f0;
  height: 300px;
  padding: 5px;
  cursor: pointer;
}
.res-image {
  width: 100%;
  height: 150px;
}
.card-body h4 {
  font-size: 0.75rem;
  text-align: center;
}
h4.ratings {
  color: gold;
}
.res-card {
  padding: 3px;
  width: 250px;
}
.shimmer-container {
  display: flex;
}
.shimmer-card {
  height: 300px;
  padding: 3px;
  background-color: lightgray;
  border: 1px solid grey;
}
.crowsel-item {
  width: 150px;
  height: 180px;
}
.crowsel-item img {
  width: 100%;
  height: 100%;
}

h5 {
  font-size: 16px;
}
.user-card.card {
  height: 300px;
}

.user-card.card img {
  height: 200px;
  width: 200px;
}
.user-card.card div {
  display: inline-block;
}

.addbutton {
  font-size: 14px !important;
  border-radius: 4px !important;
  margin-left: 49px !important;
}
